.cont {
  height: 10rem;
  width: 10rem;
  border: 1px solid red;
  display: inline-block;
}

.car-image-style {
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.content-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}
.carItem {
  width: 100%;
  max-width: 210px;
  margin-bottom: 30px;
  padding: 1rem;
}

/* .carItem:hover {
  cursor: pointer;
  border: 3px solid #1890ff;
  border-radius: 5px;
} */

.modal-content {
  margin: 0 auto;
  margin-top: 15px;
}
.supplier-details {
  margin: 0 auto;
  margin-left: 2rem;
  font-size: 20px;
  font-weight: 700;
}
.supplierRating {
  padding-left: 2rem;
  padding-top: 1rem;
}
.carItem:hover {
  cursor: pointer;
  border: 3px solid #1890ff;
  border-radius: 5px;
}
